:root {
    --color-primary-dark: #03204B;
    --color-primary: #3CC4E2;
    --color-text: #222222;
    --color-background-light: #f5f5f5;
    font-family: "Poppins";
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; left: 0; right: 0;
    gap: 2.5rem;
    background-color: var(--color-primary-dark);
    height: 4.5rem;
    padding: 0 6rem;
    font-family: "Poppins";
    z-index: 1;
}

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.navbar li a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    line-height: 72px;
    padding: 0 24px;
}

.navbar li a:hover {
    color: var(--color-primary);
    transition: all 0.5s ease;
}

.navbar .menu-list {
    display: flex;
    align-items: center;
}

.navbar .menu-item {
    display: flex;
    align-items: center;
    position: relative;
}

.navbar .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    width: max-content;
    background-color: var(--color-primary-dark);
    font-size: 14px;
    top: 80%;
    z-index: 2;
    border: 1px solid white;
    margin-left: 24px;
}

.navbar .subnav li a {
    line-height: 46px;
    font-weight: 400;
    margin-left: 20px;
}

.navbar .subnav li:first-child a {
    font-weight: 600;
    text-decoration: underline;
    margin-left: 0;
}

.navbar li:hover .subnav {
    display: block;
}

.navbar .menu-list .menu-item .icon-down {
    height: 14px;
    width: 14px;
    fill: white;
    margin-left: 8px;
}

.navbar .contact-btn {
    height: 36px;
    background-color: #ffffff;
    min-width: 150px;
    border-radius: 0.75rem;
    text-align: center;
    color: var(--color-primary-dark);
    font-weight: 500;
    font-size: 14px;
}

.navbar .mobile-menu-btn {
    height: 40px;
    width: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-style: none;
    text-align: center;
}

.navbar button:hover {
    background-color: var(--color-primary);
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s ease;
}

.menu-btn {
    fill: white;
    width: 20px;
}

.video-responsive {
    /* overflow: hidden; */
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.service-content {
    display: flex;
    justify-content: space-between;
    padding: 0 6rem 6rem 6rem;
    margin-top: 120px;
    color: var(--color-text);
}

.service-content .section-heading {
    font-weight: 400;
    font-size: 48px;
    color: var(--color-primary-dark);
    line-height: 1;
}

.service-content .section-subheading {
    font-weight: 400;
    font-size: 48px;
    color: var(--color-primary);
    line-height: 1;
    margin-top: 0.5rem;
}

.content-video {
    flex: 1;
}

.content-section {
    flex: 1;
    padding: 0 2rem;
}

.content-section .section-text {
    font-size: 18px;
    line-height: 2rem;
    margin-top: 0.5rem;
}

.service-feature {
    padding: 0 6rem 6rem 6rem;
}

.service-feature .feature-heading {
    font-weight: 400;
    font-size: 48px;
    color: var(--color-primary-dark);
    line-height: 1;
    text-align: center;
    margin-bottom: 2rem;
}

.service-feature .feature-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 1.25rem;
    margin: 0 auto;
    text-align: center;
}

.service-feature .feature-item {
    background-color: var(--color-background-light);
    padding: 2rem;
    border-radius: 1rem;
    height: 350px;
}

/* Apply alternate background colors */
.service-feature .feature-item:nth-child(odd) {
    background-color: var(--color-primary-dark);
    color: white;
}

.service-feature .feature-item:nth-child(even) {
    background-color: var(--color-background-light);
    color: var(--color-primary-dark);
}

.service-feature .feature-item .icon {
    height: 48px;
    align-content: center;
}

.service-feature .feature-item h3 {
    font-weight: 500;
    font-size: 20px;
    margin: 1rem 0 0.5rem 0;
    text-align: left;
}

.service-feature .feature-item p {
    font-size: 14px;
    text-align: left;
    font-weight: 300;
}

.feature-heading-color {
    color: var(--color-primary);
}

.return {
    padding: 0 96px 48px 96px;
}

.return h2 {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 28px;
}

.division-line {
    border-bottom: 2px solid #e5e7eb; /* 1px solid line */
}

.footer {
    padding: 48px 96px 48px 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-social {
    display: flex;
}

.footer .footer-social svg {
    height: 32px;
    fill: #888888;
    margin-right: 1rem;
}

.footer .footer-link {
    justify-content: right;
}

.footer .footer-link a {
    color: var(--color-text);
    margin-left: 2rem;
}

.footer .footer-link a:hover {
    color: var(--color-primary);
    transition: all 0.5s ease;
}

@media (max-width:1600px) {
    .service-feature .feature-list {
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    }
}

@media (max-width:1366px) {
    .navbar {
        padding: 0 4rem;
    }
    .service-content {
        padding: 0 4rem 4rem 4rem;
    }
    .service-feature {
        padding: 0 4rem;
    }
    .return {
        padding: 2rem 4rem 2rem 4rem;
    }
    .footer {
        padding: 2rem 4rem 2rem 4rem;
    }
    .service-feature .feature-item {
        height: 450px;
    }
    .content-section .section-text {
        line-height: 1.8rem;
        font-size: 16px;
    }
}

@media (max-width:1200px) {
    p {
        font-size: 14px;
    }
    .service-content .section-heading, 
    .service-content .section-subheading,
    .service-feature .feature-heading {
        font-size: 40px;
    }
    .content-section .section-text {
        line-height: 1.5rem;
    }
    .navbar li a {
        font-size: 14px;
    }
    .navbar .contact-btn {
        min-width: 120px;
    }
    .service-feature .feature-list {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    .service-feature .feature-item {
        height: 350px;
    }
    .navbar li a {
        padding: 0 1rem;
    }
}

@media (max-width:1024px) {
    .navbar .logo img {
        height: 32px;
    }
    .navbar {
        padding: 0 2rem;
    }
    .service-content {
        padding: 0 2rem 2rem 2rem;
    }
    .service-feature {
        padding: 2rem;
    }
    .return {
        padding: 2rem 2rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer {
        padding: 2rem 2rem 2rem 2rem;
    }
    .service-content .section-heading, 
    .service-content .section-subheading,
    .service-feature .feature-heading {
        font-size: 32px;
    }
    .navbar li a {
        padding: 0 0.5rem;
        font-size: 14px;
    }
    .navbar .menu-list .menu-item .icon-down{
        width: 10px;
    }
    .navbar .contact-btn {
        min-width: 100px;
        font-size: 12px;
    }
    .service-feature .feature-list {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    .service-feature .feature-list p {
        font-size: 12px;
    }
}

@media (max-width:768px) {
    .navbar {
        overflow: hidden;
        padding: 0 22px 0 2rem;
    }
    .navbar button .mobile-menu-btn:hover {
        color: transparent;
    }
    .navbar button:hover {
        color: transparent;
    }
    .navbar .menu-list {
        position: absolute;
        top: 72px;
        left: 0;
        right: 0;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        background: var(--color-primary-dark);
        gap: 0;
        padding: 0 1rem;
        padding-top: 48px;
    }
    .navbar .menu-item {
        display: flex;
        width: 100%;
        height: 3rem;
    }
    .navbar .menu-item a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem;
    }
    .navbar .subnav {
        padding: 0 0.5rem;
        margin-left: 1.5rem;
        width: 75%;
    }
    .navbar .contact-btn {
        position: absolute;
        top: 72px;
        font-size: 14px;
        width: 48px;
        background-color: var(--color-primary);
        color: #ffffff; 
    }
    .navbar .mobile-menu-btn {
        display: flex;
    }
    .service-content {
        flex-direction: column;
    }
    .service-content .content-section {
        padding: 2rem 0 0 0;
    }
    .service-content .content-section p {
        margin-top: 0.5rem;
        font-size: 14px;
    }
    .service-feature .feature-item {
        height: 300px;
    }
    .service-feature .feature-item p {
        font-size: 12px;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer .footer-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer .footer-link a {
        margin: 0 auto;
        font-size: 14px;
    }
    .footer .footer-social {
        margin-top: 1rem;
    }
    .footer .footer-social svg {
        height: 32px;
        margin-right: 0;
        padding: 0.2rem;
    }
    .service-feature .feature-list {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

@media (max-width:480px) {
    html p {
        font-size: 12px;
    }
    .service-content .section-heading, 
    .service-content .section-subheading,
    .service-feature .feature-heading {
        font-size: 24px;
    }
    .service-feature .feature-heading {
        margin-bottom: 0.5rem;;
    }
    .navbar {
        padding: 0 6px 0 1rem;
    }
    .navbar .subnav {
        margin-left: 0rem;
    }
    .navbar .menu-item a {
        padding: 0;
    }
    .service-content {
        padding: 0 1rem 1rem 1rem;
    }
    .service-feature {
        padding: 1rem;
    }
    .return {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer {
        padding: 1rem;
    }
    .service-feature .feature-item h3 {
        font-size: 16px;
    }
    .service-feature .feature-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .service-feature .feature-item {
        height: 350px;
    }
}

/*1920 1366 1200 1024 768 480*/